.container {
  background-image: url("/assets/images/background.png");
  background-repeat: initial;
  height: 100%;
  width: 100%;
  background-color: #e8e5ee;

  .details {
    display: flex;
    flex-direction: row;

    .details-left {
      flex: 1;
      display: flex;
      flex-direction: column;

      .card-left {
        padding: 24px 40px 0px 40px;
      }

      .card-bottom-left {
        padding: 24px 24px 24px 40px;
        flex: 1;
      }

      .card-bottom-left-right {
        padding: 24px 40px 24px 0px;
        flex: 1;
      }

      .details-left-bottom {
        display: flex;
        flex-direction: row;
      }
    }

    .details-right {
      flex: 1;
      display: flex;
      flex-direction: column;

      .card-right {
        padding: 24px 40px 24px 0px;
      }

      .table {
        width: 100%;
      }

      .table-header {
        font-size: 16px;
        font-weight: bold;
        color: black;
      }

      .mat-row:nth-child(1n + 1) {
        background-color: #f4f4f4;
      }

      .mat-row:not(:nth-child(2n + 1)) {
        background-color: #ffffff;
      }

      td.mat-cell {
        height: 64px;
        border-bottom-style: none;
      }
    }
  }

  .card-header {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    height: 56px;
    font-family: Montserrat;

    .card-header-text {
      padding-left: 24px;
      font-weight: bold;
      font-size: 16px;
    }

    .icon {
      padding-right: 34px;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .card-content-text {
      padding-top: 40px;
      padding-bottom: 24px;
      font-size: 48px;
      font-weight: bold;
    }

    .card-content-bottom-text {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }

  .red-text {
    color: #d70000;
  }

  .chart {
    display: flex;
    justify-content: center;
  }

  mat-card {
    text-align: start;
    padding: 0px 0px 0px 0px;
    border-radius: 8px;
  }

  .status-failed {
    border: 2px solid #eb0000;
    text-align: center;
    border-radius: 24px;
    color: #eb0000;
    width: 50%;
    height: 32px;
    font-weight: bold;
  }

  .status-passed {
    border: 2px solid #269417;
    text-align: center;
    border-radius: 24px;
    color: #269417;
    width: 50%;
    height: 32px;
    font-weight: bold;
  }

  .status-padding {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .table-group-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .table-group-status-container {
    display: flex;
    flex-direction: row;
    text-align: center;

    .status-text-failed {
      border: 1px solid #eb0000;
      text-align: center;
      color: #eb0000;
      padding: 1px 10px 0px 10px;
      margin-right: 8px;
      width: 84px;
      height: 24px;
    }

    .status-text-passed {
      border: 1px solid #269417;
      text-align: center;
      color: #269417;
      padding: 1px 10px 0px 10px;
      width: 84px;
      height: 24px;
    }
  }
}
