<div class="header">
    <img class="logo" src="./../../../assets/images/PNRlogo.PNG" alt="PNR Finishing">
    <div class="menu">
        <div class="menu-item" [ngClass]="{ 'selected': selectedMenuItem ==='dashboard' }"
            (click)="selectMenuItem('dashboard')">
            HOME
        </div>
        <div class="menu-item" [ngClass]="{ 'selected': selectedMenuItem ==='all-pnrs' }"
            (click)="selectMenuItem('all-pnrs')">
            ALL PNR(s)
        </div>
        <div class="menu-item" [ngClass]="{ 'selected': selectedMenuItem ==='user-administration' }"
            (click)="selectMenuItem('user-administration')">
            USER ADMIN
        </div>
    </div>
    <div class="active-user">
        <div class="user-name">{{ activeAccountInfo?.name }}</div>
        <ngx-avatar class="user-avatar" name="{{ activeAccountInfo?.name }}"></ngx-avatar>
    </div>
</div>