<div class="user-administation-container">
    <div class="existing-users">
        <mat-card>
            <div class="card-header">
                <div class="card-header-text t4 bold">Existing Users</div>
                <button class="add-users" mat-button color="primary" (click)="addUsers()">Add</button>
            </div>
            <div class="table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="table-header" *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell class="table-header" *matHeaderCellDef> Surname </th>
                        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="username">
                        <th mat-header-cell class="table-header" *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <th mat-header-cell class="table-header" *matHeaderCellDef> Role </th>
                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button color="primary" (click)="removeUser(element.username)">Remove</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


            </div>
        </mat-card>
    </div>
</div>